li {
  list-style-type: none;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hed {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
}
.hed * {
  width: 50%;
  height: 100%;
}
.hed > p {
  padding: 10px;
  padding-left: 50px;
  text-transform: capitalize;
  font-size: 60px;
}
.hed > p > span {
  color: rgb(101, 188, 123);
}
.hed .menu {
  display: flex;
  padding-right: 50px;
}
.hed .menu > li:hover > .megaMenu {
  opacity: 1;
  visibility: visible;
}
.hed .menu li > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: 1s;
}
.hed .menu li > a:hover {
  color: rgb(101, 188, 123);
}
.hed .menu .megaMenu {
  width: 90%;
  height: 300px;
  background-color: rgb(167, 197, 188);
  position: absolute;
  top: 100px;
  left: 5%;
  border-top: 3px solid rgb(6, 87, 71);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 1;
}
.hed .menu .megaMenu > li {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  padding: 20px;
}
.hed .menu .megaMenu > li > ul {
  text-align: center;
  width: 25%;
  /* border: 1px solid black; */
  margin: 0 3px;
  background: rgb(245, 242, 242);
}
.hed .menu .megaMenu > li > ul > li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hed .menu .megaMenu > li > ul > li > p {
  width: 100%;
  color: rgb(49, 47, 47);
}
.hed .menu .megaMenu > li > ul > li > a:nth-of-type(2) {
  width: 80%;
  height: 70px;
  background: rgb(101, 188, 123);
  margin-bottom: 10px;
  transition: 0.5s;
}
.hed .menu .megaMenu > li > ul > li > a:nth-of-type(2):hover {
  background: rgb(56, 119, 71);
  color: black;
}

.photo1 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo1 > img {
  width: 100%;
}
.photo1 > figcaption {
  position: absolute;
  font-size: 70px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(8, 89, 66);
}

.txt1 {
  display: flex;
  width: 100%;
  height: 400px;
}
.txt1 > section {
  height: 100%;
  display: flex;
}
.txt1 > section:nth-of-type(1) {
  width: 40%;
  padding-left: 30px;
  flex-direction: column;
}
.txt1 > section:nth-of-type(1) > p {
  margin-top: 70px;
  flex-basis: 40px;
  color: rgb(101, 188, 123);
}
.txt1 > section:nth-of-type(1) > h3 {
  font-size: 38px;
}
.txt1 > section:nth-of-type(2) {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt1 > section:nth-of-type(2) > p {
  font-size: 20px;
  margin-left: 50px;
}

.txt2 {
  width: 100%;
  height: 400px;
  background: rgb(101, 188, 123);
  display: flex;
}
.txt2 > div {
  position: relative;
  width: 400px;
  height: 300px;
  background: rgb(251, 251, 251);
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.txt2 > div > p {
  font-size: 25px;
  padding: 10px 0;
}
.txt2 > div > span {
  font-size: 20px;
}
.txt2 > div > img {
  width: 100px;
  height: 100px;
  transition: 1s;
}
.txt2 > div > img:hover {
  width: 120px;
  height: 120px;
}

.txt3 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.txt3 > h3 {
  font-size: 35px;
}
.txt3 > p {
  padding: 20px;
  font-size: 25px;
}

.bar {
  width: 100%;
  height: 50px;
  position: relative;
}
.bar > ul {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
}
.bar > ul > li {
  border: 1px solid rgba(15, 15, 15, 0.51);
  width: 20%;
  flex-grow: 1;
}
.bar > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 1.5s;
}
.bar > ul > li > a:hover {
  background: rgba(128, 128, 128, 0.622);
}

.txt4 {
  width: 100%;
  height: 500px;
  margin-top: 70px;
  display: flex;
  position: relative;
}
.txt4 > section:nth-of-type(1) {
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt4 > section:nth-of-type(1) > img {
  width: 80%;
  height: 90%;
}
.txt4 > section:nth-of-type(2) {
  width: 40%;
  padding: 130px 0;
}
.txt4 > section:nth-of-type(2) > p {
  width: 80%;
  font-size: 20px;
  margin-left: 30px;
}
.txt4 > section:nth-of-type(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt4 > section:nth-of-type(2) > div > a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: azure;
  border-radius: 5%;
  margin: 30px 10px;
  width: 200px;
  height: 50px;
  background: rgb(101, 188, 123);
}
.txt4 > section:nth-of-type(2) > div > a:hover {
  background: rgb(78, 170, 181);
}

.txt5 {
  width: 100%;
  height: 100vh;
  background-image: url(img/19.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt5::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.txt5 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
  border: 4px solid rgb(255, 255, 255);
  position: absolute;
  z-index: 3;
}
.txt5 > div * {
  margin: 40px 0;
  color: white;
}
.txt5 > div > p {
  font-size: 20px;
}
.txt5 > div > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background: rgb(101, 188, 123);
}
.txt5 > div > a:hover {
  background-color: rgb(50, 194, 204);
}

.txt6 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.txt6 > h2 {
  font-size: 40px;
}
.txt6 > p {
  color: rgb(32, 31, 31);
  margin: 30px;
  width: 60%;
  font-size: 20px;
}

.txt7 {
  display: flex;
  width: 100%;
  height: auto;
  padding: 50px;
}
.txt7 > figure {
  width: 50%;
  height: 400px;
  position: relative;
}
.txt7 > figure::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 163, 107, 0.866);
  position: absolute;
}
.txt7 > figure > a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  top: 300px;
  left: 40px;
  display: flex;
  width: 500px;
  height: 70px;
  background: rgb(0, 0, 0);
  z-index: 4;
  color: white;
  font-size: 20px;
}
.txt7 > figure > a:hover {
  background: white;
  color: black;
}
.txt7 > figure > figcaption {
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 4;
  color: white;
}
.txt7 > figure > img {
  width: 100%;
  height: 100%;
}
.txt7 > section {
  width: 50%;
  background: black;
  display: flex;
  justify-content: center;
  transition: 1s;
}
.txt7 > section:hover {
  background-image: url(img/31.jpg);
}
.txt7 > section:hover:hover > p {
  visibility: hidden;
}
.txt7 > section > p {
  color: white;
  font-size: 20px;
  padding: 80px;
}

.txt8 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 30px;
}
.txt8 > figure {
  width: 40%;
  height: 100%;
  overflow: hidden;
  margin: 0 20px;
}
.txt8 > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 110%;
  height: 50%;
  transition: 1s;
}
.txt8 > figure > img:hover {
  opacity: 0.85;
  width: 100%;
}
.txt8 > figure > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.txt8 > figure > figcaption > h3 {
  margin: 5px;
}

.txt9 {
  width: 100%;
  height: 100vh;
  background: rgba(100, 120, 107, 0.282);
  display: flex;
}
.txt9 > figure {
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.txt9 > figure > img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.txt9 > figure > img:hover {
  width: 110%;
  height: 110%;
}
.txt9 > section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.txt9 > section > h3 {
  font-size: 30px;
  margin: 10px 100px;
}
.txt9 > section > p {
  font-size: 20px;
  color: rgb(10, 94, 66);
}
.txt9 > section > span {
  display: flex;
  font-size: 20px;
  margin: 10px 100px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgb(101, 188, 123);
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.btn:hover {
  background: rgb(88, 166, 171);
}

.last {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(img/17.jpg);
}
.last::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.426);
}
.last > div {
  display: flex;
  width: 90%;
  height: 70%;
  margin: 100px auto;
  z-index: 6;
}
.last > div > figure {
  width: 40%;
  height: 100%;
  border: 10px solid rgb(255, 255, 255);
}
.last > div > figure > img {
  width: 100%;
  height: 100%;
}
.last > div > figcaption {
  padding: 50px 50px;
  text-align: start;
  color: white;
}
.last > div > figcaption > p {
  margin: 30px 0;
  font-size: 20px;
}
.last > div > figcaption > a {
  margin-top: 50px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: rgb(101, 188, 123);
}
.last > div > figcaption > a:hover {
  background-color: rgb(50, 194, 204);
}

footer {
  width: 100%;
  height: 80vh;
  background: rgb(37, 36, 36);
}
footer > .foot {
  padding: 40px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}
footer > .foot > ul {
  height: 300px;
}
footer > .foot > ul:nth-of-type(2) {
  width: 60%;
  display: flex;
}
footer > .foot > ul:nth-of-type(2) > li {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer > .foot > ul:nth-of-type(2) > li > ul {
  width: 30%;
  margin: 0 30px;
}
footer > .foot > ul:nth-of-type(2) > li > ul > li {
  height: 20%;
}
footer > .foot > ul:nth-of-type(2) > li > ul > li > a {
  text-decoration: none;
  color: white;
  transition: 0.25s;
  align-items: center;
  display: flex;
  width: 100%;
  height: 80%;
}
footer > .foot > ul:nth-of-type(2) > li > ul > li > a:hover {
  border-bottom: 2px solid green;
}
footer > .foot > ul:nth-of-type(1) {
  padding-top: 30px;
  width: 40%;
}
footer > .foot > ul:nth-of-type(1) > a {
  margin: 0 30px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background: rgb(69, 69, 69);
  border-radius: 10px;
}
footer > .foot > ul:nth-of-type(1) > a:hover {
  background-color: rgb(101, 188, 123);
}
footer > .foot > ul:nth-of-type(1) > p {
  color: white;
  padding: 10px;
  padding-left: 50px;
  text-transform: capitalize;
  font-size: 60px;
}
footer > .foot > ul:nth-of-type(1) > p > span {
  color: rgb(101, 188, 123);
}
footer > .foot > div {
  padding: 20px 0;
  color: white;
  margin: 30px 30px;
  width: 100%;
  height: 100px;
  border-top: 2px solid white;
}/*# sourceMappingURL=style.css.map */